@keyframes fadeInOverlay {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
  animation: fadeInOverlay 0.3s ease-out;
}


.modal-content {
  background-color: var(--background-light);
  padding: 2rem;
  border-radius: 12px;
  border: 1px solid var(--border);
  box-shadow: var(--shadow);
  width: 90%;
  max-width: 600px;
  animation: fadeIn 0.3s ease-out;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding-bottom: 1rem;
  margin-bottom: 1.5rem;
}

.modal-title {
  font-size: 1.5rem;
  color: var(--primary-text);
  margin: 0;
  transition: color 0.3s ease;
}

.modal-title:hover {
  color: var(--accent);
}

.close-button {
  background: none;
  border: none;
  color: var(--secondary-text);
  font-size: 2rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: var(--primary-text);
}

.modal-body {
  color: var(--secondary-text);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
