.admin-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #212529;
  color: #fff;
}

.main-content .card {
  background-color: #343a40;
  border-radius: 10px;
  padding: 20px;
}

h1, h2 {
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  color: #fff;
}

thead tr {
  background-color: #343a40;
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 15px;
  border-bottom: 1px solid #454d55;
}

tbody tr {
  border-bottom: 1px solid #454d55;
}

tbody tr:nth-of-type(even) {
  background-color: #2c3034;
}

tbody tr:last-of-type {
  border-bottom: none;
}

tbody tr:hover {
  background-color: #495057;
}
