.admin-container {
  display: flex;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
  background-color: #212529;
  color: #fff;
}

h1, h2 {
  color: #fff;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  color: #fff;
}

thead tr {
  background-color: #343a40;
  color: #ffffff;
  text-align: left;
}

th, td {
  padding: 12px 15px;
  border-bottom: 1px solid #454d55;
}

tbody tr {
  border-bottom: 1px solid #454d55;
}

tbody tr:nth-of-type(even) {
  background-color: #2c3034;
}

tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}
